:root,
[data-theme="light"] {
  --color-primary: #fafafa;
  --img-primary: invert(0%);
  --text-primary: #222;
  --color-hover-primary: #222;
}

[data-theme="dark"] {
  --color-primary: #222;
  --img-primary: invert(100%);
  --text-primary: #fff;
  --color-hover-primary: #fff;

}
html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  padding: 0;
  margin: 0;
  color: var(--text-primary);
}

.drag {
  -webkit-app-region: drag;
  cursor: move;
}
.no-drag {
  -webkit-app-region: no-drag;
}

.fade-enter-active {
  transition: all 0.2s ease;
}
.fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active 用于 2.1.8 以下版本 */ {
  opacity: 0;
}

/*设置动画*/
.slide-enter,
.slide-leave-to {
  transform: translateY(-100%);
}

.slide-enter-active,
.slide-leave-active {
  transition: 1s;
}

.slide-enter-to {
  transform: translateY(0%);
}
