:root {
  --animate-duration: 0.2s;
  --animate-delay: 0.2s;
  --animate-repeat: 1;
  --duration-text-wrap: 12s 1.5s cubic-bezier(0.82, 0.82, 1, 1.01);
}

:root,
[data-theme="light"] {
  --color-primary: #fafafa;
  --img-primary: invert(0%);
  --text-primary: #222;
  --color-hover-primary: #222;
  --lyric-active-default: #999;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "PingFang SC", Helvetica, Arial, sans-serif;
}

[data-theme="dark"] {
  --color-primary: #222;
  --img-primary: invert(100%);
  --text-primary: #fff;
  --color-hover-primary: #fff;
  --lyric-active-default: #666;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "PingFang SC", Helvetica, Arial, sans-serif;
}
* {
  font-family: "Barlow", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif,
    microsoft uighur;
  // "Barlow", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif, microsoft uighur
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  padding: 0;
  margin: 0;
  color: var(--text-primary);
  overflow: hidden;
}

.drag {
  -webkit-app-region: drag;
  cursor: move;
}
.no-drag {
  -webkit-app-region: no-drag;
}

.z-music-cover {
  position: relative;
  transition: transform 0.3s;
  width: 100%;
  img {
    width: 100%;
    border-radius: 0.75em;
    user-select: none;
    aspect-ratio: 1/1;
    border: 1px solid rgba(0, 0, 0, 0.04);
  }
}
.z-music-cover:hover {
  transition: opacity 0.3s;
  opacity: 0.88;
}

.link:hover {
  background-color: hsla(0, 0%, 100%, 0.08);
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.icon-btn {
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.14);
  transition: all 0.2s;
}
.icon-btn:hover {
  background: rgba(255, 255, 255, 0.44);
}
.icon-btn:active {
  transform: scale(0.85);
}
